.link {
  text-decoration: none;

  &-content {
    width: 9.5rem;
    
    margin-top: 1.75rem;
    margin-left: .25rem;
    margin-right: .25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    box-shadow: 0 0 8px #ebebeb;

    transition: .5s;


    &-text {
      color: black;
      text-align: center;
    }

    &:hover {
      border: 1px solid lightgreen;
      // box-shadow: 0 0 8px lightgreen;

      transform: scale(1.05);
      z-index: 1050;
    }
  }
}